<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<!-- JS -->
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<div id="container">
	  <div id="burger">
	          <div class="bun top"></div>
	          <div class="filling"></div>
	          <div class="bun bottom"></div>
	  </div>
	</div>

	<nav>
	  <ul>
	    <li>
	      <a href="/">Home</a>
	    </li>
	    <li class="green">
	      <a href="/repair">Repair</a>
	    </li>
	    <li class="red">
	      <a href="/history">History</a>
	    </li>
	    <li class="yellow">
	      <a href="/contact">Contact</a>
	    </li>
	    <li class="purple">
	      <a href="#">Samuel L. Jackson</a>
	    </li>
	  </ul>
	</nav>
	<%= yield %>
</body>
</html>