<style type="text/css">html {background-color:#483c2c !important;}</style>
<div class="hero" id="hero-repair">

	<div id="map"></div>
	   <script>
	      function initMap() {
	      	let Geocoder = new google.maps.Geocoder;
	      	let address = "2567 East Simpson Ave, Salt Lake City, UT, 84109";
	      	Geocoder.geocode({'address': address}, function (results, status) {
	      		let shopLocation = results[0].geometry.location;
	      		let shop = {
	      			lat: shopLocation.lat();
	      			lng: shopLocation.lng();
	      		}
	      	})
	        var uluru = {lat: -25.363, lng: 131.044};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 9,
	          center: shop;
	        });
	        var marker = new google.maps.Marker({
	          position: shop,
	          map: map
	        });
	      }
	   </script>
	<script async defer
	   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtxYYO_SOHNttoY0E1wq9X_oP0i79f5Gw&callback=initMap">
	</script>
</div>